# Application API & WebSockets Configuration
VITE_API_BASE_URL=http://localhost:8080/authen-face-api/
VITE_SOCKET_URL=http://localhost:8080

# Supabase Credentials Configuration
VITE_SUPABASE_URL=https://xukagrjdznqbjaujbpyk.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_xdA0QOtBlcH9i2s0TqQvlA_esmiKMk4
